{% extends 'tours/layout.html'%} {% load static %} {% block title %} All posts
{% endblock %} {% block main %} {% for post in object_list %}
<div>
  <ul>
    <h1>{{post.title}}</h1>
    <br />
    <li>{{post.author.first_name}} - {{post.post_date}} - {{post.category}}</li>
    <hr />
    <div>
      <img
        src="{{post.image.url}}"
        height="450px"
        width="800px"
        alt=""
        class=""
      />
      {{post.body}}
    </div>

    <br />
    <br />
    <a href="{% url 'home' %}">Back</a>
  </ul>
</div>
{% endfor %} {% endblock %}
