{% extends 'tours/layout.html' %} {% load static %} {% block title %}
{{post.title_tag}} {% endblock %} {% block main %}

<div class="mt-6 px-6 py-12 bg-grey-100 rounded-xl">
  {% if posts %}

  <h2>{{category}}</h2>
  <br />

  <div class="grid grid-cols-5 gap-3">
    {% for post in posts %}
    <h1>{{post.title}}</h1>
    <hr />

    <li>{{post.author.first_name}} - {{post.post_date}}</li>
    <hr />
    <div>
      <img src="{{post.image.url}}" alt="" class="" />
      {{post.body}}
      <br />
      <br />
      <br />
    </div>

    {% endfor %}
  </div>
</div>

<br />
<a href="{% url 'home' %}">Back</a>

{% else %}

<h3>Sorry, This page does not exits.</h3>

{% endif %} {% endblock %}
