{% extends 'tours/index.html' %}
{% load static %}

{% block title %}

  Categories
{% endblock %}

{% block main %}
          <h1>This is categories.</div>

   
   <div class="mt-6 px-6 py-12 bg-grey-100 rounded-xl">
    <h2>Categories</h2>

    <div class="grid grid-cols-5 gap-3">
      {% for post in category_posts %}

      <div>
        <a href="#">
          <div class="p-6 bg-green rounded-b-xl">
            <h2 class="text-2xl">{{post.name}}</h2>

          </div>
        </a>
      </div>

      {% endfor %}
    </div>
   </div>
   
   <br>
   <a href="{% url 'home' %}">Back</a>

{% endblock %}