{% extends "tours/layout.html"%}
{% load static %}

{% block home %}

 <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home'%}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Afritours</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <!--<li><a href="search-result.html">Search Result</a></li>-->
          <li><a href="{% url 'allposts'%}">Blog</a></li>
          
           <li class="dropdown">
              <a href="{% url 'allcategory' %}"
                ><span>Categories</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
      
                {% for items in cats %}
                <li><a href="{% url 'category' items.pk %}">{{items.name}}</a></li>
                {% endfor %}
                <!--
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Deep Drop Down</span>
                    <i class="bi bi-chevron-down dropdown-indicator"></i
                  ></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    
                  </ul>
                </li>-->
                <!--<li><a href="#">Drop Down 2</a></li>-->
                
              </ul>
            </li>

          <li><a href="{% url 'aboutus' %}">About</a></li>
          <li><a href="{% url 'contant' %}">Contact</a></li>

           {% if user.is_authenticated %}
                 <li class="hello_user">Hello, {{ user.first_name }}</li>
                 <li><a href="{% url 'logout'%}"> logout</a></li>
                  {% else %}
                 <li><a href="{%url 'register'%}">Register</a></li>
                 <li><a href="{% url 'login'%}">login </a></li>
                 <!--<li><a href="{% url 'logout'%}"> logout</a></li>-->
                  {% endif %}
            
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <div class="container input-group searchbar">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" placeholder="Type query" aria-label="Search" />
    </div>
  </div>



  <main id="main">

    <!-- ======= Hero Slider Section ======= The side bar short titles -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">


                {% for object in slides %}

                <div class="swiper-slide">
                  <a href="{% url 'article_detail' object.pk %}" class="img-bg d-flex align-items-end" 
                  style="background-image: url('{{ object.image.url }}');">
                    <div class="img-bg-inner">
                      <h2>{{object.title}}</h2>
                      <p>{{object.body|slice:"0:200" }}</p>
                    </div>
                  </a>
                </div>

                {% endfor %}
                 
                <!--
                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image:
	              	  url({% static 'assets/img/slide3.jpg'%});">
                    <div class="img-bg-inner">
                      <h2>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est
		                  mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam
		                  obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end"
		                style="background-image: url({% static 'assets/img/slide4.jpg'%});">
                    <div class="img-bg-inner">
                      <h2>9 Half-up/half-down Hairstyles for Long and Medium Hair</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
		                    neque est mollitia! Beatae minima assumenda repellat harum vero, officiis
		                   ipsam magnam obcaecati cumque maxime inventore repudiandae quidem
		                    necessitatibus rem atque.</p>
                    </div>
                  </a>
                </div> -->

              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

   
    <!-- ======= Culture Category Section ======= -->
   <!--<section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Culture</h2>
          <div><a href="category.html" class="more">See All Culture</a></div>
        </div>

        <div class="row">
          <div class="col-md-9">

            <div class="d-lg-flex post-entry-2">
              <a href="single-post.html" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="{% static 'assets/img/post-landscape-6.jpg'%}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
	            	</span> <span>Jul 5th '22</span></div>
                <h3><a href="single-post.html">What is the son of Football Coach John Gruden,
	            	Deuce Gruden doing Now?</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat 
	              	exercitationem magni voluptates dolore. Tenetur fugiat voluptates quas,
	              	nobis error deserunt aliquam temporibus sapiente,
	              	laudantium dolorum itaque libero eos deleniti?</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{% static 'assets/img/person-2.jpg'%}" alt="" 
		              class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Wade Warren</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="single-post.html"><img src="{% static 'assets/img/post-landscape-1.jpg'%}"
		              alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
		               </span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single-post.html">11 Work From Home Part-Time
		              Jobs You Can Do Now</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
		             Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                </div>

                <div class="post-entry-1">
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
		              </span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single-post.html">5 Great Startup Tips for Female Founders</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="single-post.html"><img src="{% static 'assets/img/post-landscape-2.jpg'%}"
	             	  alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
	             	  </span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay
	             	  Focused During Video Calls?</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
		              Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
	            </span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay
	           Focused During Video Calls?</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
	            </span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">17 Pictures of Medium Length Hair
	            in Layers That Will Inspire Your New Haircut</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
	            </span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">9 Half-up/half-down Hairstyles
	            for Long and Medium Hair</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
	            </span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">Life Insurance And Pregnancy:
	            A Working Mom’s Guide</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
	           </span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">The Best Homemade Masks for Face 
	            (keep the Pimples Away)</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;
	            </span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every
	            Working Mom Should Know</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>
          </div>
        </div>
      </div>
    </section> End Culture Category Section -->

    <!-- ======= Business Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Cities</h2>
          <li><a href="{% url 'allposts'%}">All Articles</a></li>
          <div><a href="{% url 'allcategory' %}" class="more">All Categories</a></div>
        </div>

        <div class="row">
          <div class="col-md-9 order-md-2">

            <!--main post at home page-->

            <div class="d-lg-flex post-entry-2">
              <a href="{% url 'article_detail' main.pk %}" class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                <img src="{{main.image.url}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date"><a href="">{{main.category }}</a>
	             	</span> <span class="mx-1">&bullet;</span> <span>{{main.post_date}}</span></div>
                <h3><a href="{% url 'article_detail' main.pk %}">{{main.title }}</a></h3>
                <p>{{main.body|slice:"0:200" }}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{main.image}}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{main.author}}</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="{% url 'article_detail' shimba.pk %}"><img src="{{shimba.image.url}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{shimba.category}}</span> <span class="mx-1">&bullet;
		              </span> <span>{{shimba.post_date}}</span></div>
                  <h2 class="mb-2"><a href="{% url 'article_detail' shimba.pk %}">{{shimba.title}}</a></h2>
                  <span class="author mb-3 d-block">{{shimba.author}}</span>
                  <p class="mb-4 d-block">{{shimba.body|slice:"0:250"}}</p>
                </div>

               here




            </div>
          </div>
          <div class="col-md-3">

             {% for item in titles %}
                
               <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date"><a href="">{{item.category}}</a></span>
		              <span class="mx-1">&bullet;</span> <span>{{item.post_date}}</span></div>
                  <h2 class="mb-2"><a href="{% url 'article_detail' item.pk %}">{{item.title}}</a></h2>
                  <span class="author mb-3 d-block">{{item.author.first_name}}</span>
               </div>
                 
            {% endfor %}

           <!-- 
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">{{titles.category}}</span>
	            <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">17 Pictures of Medium Length Hair
	            in Layers That Will Inspire Your New Haircut</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div> 
               -->
          </div>
        </div>

      </div>
    </section><!-- End Business Category Section -->

  </main>
  <!-- End #main -->

{% endblock %}