{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Afritours  -  Home</title>
    <meta name="description" content="Welcome to Afritours, 
    your ultimate guide to exploring Africa's breathtaking destinations.
     Discover the best safari experiences, cultural adventures, and natural wonders." />
    <meta name="keywords" content="Afritours, Africa travel, safari, cultural adventures, natural wonders" />


    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:
      wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Template Main CSS Files -->
    <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1>Afritours</h1>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <!--<li><a href="search-result.html">Search Result</a></li>-->
            <li><a href="{% url 'allposts'%}">Blog</a></li>

            <li class="dropdown">
              <a href="{% url 'allcategory' %}"
                ><span>Categories</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                {% for items in cats %}
                <li>
                  <a href="{% url 'category' items.pk %}">{{items.name}}</a>
                </li>
                {% endfor %}
                <!--
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Deep Drop Down</span>
                    <i class="bi bi-chevron-down dropdown-indicator"></i
                  ></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    
                  </ul>
                </li>-->
                <!--<li><a href="#">Drop Down 2</a></li>-->
              </ul>
            </li>

            <li><a href="{% url 'aboutus' %}">About</a></li>
            <li><a href="{% url 'contant' %}">Contact</a></li>

            {% if user.is_authenticated %}
            <li class="hello_user">Hello, {{ user.first_name }}</li>
            <li><a href="{% url 'logout'%}"> logout</a></li>
            {% else %}
            <li><a href="{%url 'register'%}">Register</a></li>
            <li><a href="{% url 'login'%}">login </a></li>
            <!--<li><a href="{% url 'logout'%}"> logout</a></li>-->
            {% endif %}
          </ul>
        </nav>
        <!-- .navbar -->
        <!-- .navbar -->

        <div class="position-relative">
          <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
          <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
          <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

          <a href="#" class="mx-2 js-search-open"
            ><span class="bi-search"></span
          ></a>
          <i class="bi bi-list mobile-nav-toggle"></i>

          <!-- ======= Search Form ======= -->
          <div class="search-form-wrap js-search-form-wrap">
            <form action="search-result.html" class="search-form">
              <span class="icon bi-search"></span>
              <input type="text" placeholder="Search" class="form-control" />
              <button class="btn js-search-close">
                <span class="bi-x"></span>
              </button>
            </form>
          </div>
          <!-- End Search Form -->
        </div>
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Hero Slider Section ======= The side bar short titles -->
      <section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
          <div class="row">
            <div class="col-12">
              <div class="swiper sliderFeaturedPosts">
                <div class="swiper-wrapper">
                  {% for object in slides %}

                  <div class="swiper-slide">
                    <a
                      href="{% url 'article_detail' object.pk %}"
                      class="img-bg d-flex align-items-end"
                      style="background-image: url('{{ object.image.url }}');"
                    >
                      <div class="img-bg-inner">
                        <h2>{{object.title}}</h2>
                        <p>{{object.body|slice:"0:200" }}</p>
                      </div>
                    </a>
                  </div>

                  {% endfor %}

                  <!--
                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image:
	              	  url({% static 'assets/img/slide3.jpg'%});">
                    <div class="img-bg-inner">
                      <h2>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est
		                  mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam
		                  obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end"
		                style="background-image: url({% static 'assets/img/slide4.jpg'%});">
                    <div class="img-bg-inner">
                      <h2>9 Half-up/half-down Hairstyles for Long and Medium Hair</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
		                    neque est mollitia! Beatae minima assumenda repellat harum vero, officiis
		                   ipsam magnam obcaecati cumque maxime inventore repudiandae quidem
		                    necessitatibus rem atque.</p>
                    </div>
                  </a>
                </div> -->
                </div>
                <div class="custom-swiper-button-next">
                  <span class="bi-chevron-right"></span>
                </div>
                <div class="custom-swiper-button-prev">
                  <span class="bi-chevron-left"></span>
                </div>

                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero Slider Section -->

    <!-- ======= Business Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Cities</h2>
          <li><a href="{% url 'allposts'%}">All Articles</a></li>
          <div><a href="{% url 'allcategory' %}" class="more">All Categories</a></div>
        </div>

        <div class="row">
          <div class="col-md-9 order-md-2">

            <!--main post at home page-->

            <div class="d-lg-flex post-entry-2">
              <a href="{% url 'article_detail' main.pk %}" class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                <img src="{{main.image.url}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date"><a href="">{{main.category }}</a>
	             	</span> <span class="mx-1">&bullet;</span> <span>{{main.post_date}}</span></div>
                <h3><a href="{% url 'article_detail' main.pk %}">{{main.title }}</a></h3>
                <p>{{main.body|slice:"0:210" }}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{main.image}}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{main.author}}</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="{% url 'article_detail' shimba.pk %}"><img src="{{shimba.image.url}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{shimba.category}}</span> <span class="mx-1">&bullet;
		              </span> <span>{{shimba.post_date}}</span></div>
                  <h2 class="mb-2"><a href="{% url 'article_detail' shimba.pk %}">{{shimba.title}}</a></h2>
                  <span class="author mb-3 d-block">{{shimba.author}}</span>
                  <p class="mb-4 d-block">{{shimba.body|slice:"0:250"}}</p>
                </div>

                <div class="post-entry-1">
                  <div class="post-meta"><span class="date">{{park.category}}</span> 
		              <span class="mx-1">&bullet;</span> <span>{{park.post_date}}</span></div>
                  <h2 class="mb-2"><a href="{% url 'article_detail' park.pk %}">{{park.title}}</a></h2>
                  <span class="author mb-3 d-block">{{park.author.first_name}}</span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="{% url 'article_detail' main_sub.pk%}"><img src="{{main_sub.image.url}}" alt=""
	             	  class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{main_sub.category}}</span>
		              <span class="mx-1">&bullet;</span> <span>{{main_sub.post_date}}</span></div>
                  <h2 class="mb-2"><a href="{% url 'article_detail' main_sub.pk %}">{{main_sub.title}}</a></h2>
                  <span class="author mb-3 d-block">{{main_sub.author.first_name}}</span>
                  <p class="mb-4 d-block">{{main_sub.body|slice:"0:200" }}</p>  <h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">

             {% for item in titles %}
                
               <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date"><a href="">{{item.category}}</a></span>
		              <span class="mx-1">&bullet;</span> <span>{{item.post_date}}</span></div>
                  <h2 class="mb-2"><a href="{% url 'article_detail' item.pk %}">{{item.title}}</a></h2>
                  <span class="author mb-3 d-block">{{item.author.first_name}}</span>
               </div>
                 
            {% endfor %}

           <!-- 
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">{{titles.category}}</span>
	            <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">17 Pictures of Medium Length Hair
	            in Layers That Will Inspire Your New Haircut</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div> 
               -->
          </div>
        </div>

      </div>
    </section><!-- End Business Category Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row g-5 home-footer">
            <div class="col-lg-4 home-footer">
              <h3 class="footer-heading">About Afritours</h3>
              <p>
                Discover your next travel adventure on our website, where we
                showcase a variety of captivating destinations for you to
                explore. Whether you're a seasoned globetrotter or a first-time
                adventurer, we provide detailed descriptions, stunning photos,
                and recommendations for the best places to visit. Find hidden
                gems, immerse yourself in local traditions, and create
                unforgettable memories. Our user-friendly interface makes it
                easy to navigate through our extensive collection of
                destinations and find the perfect place for your next tour.
                Start your journey of discovery today!
              </p>
              <p>
                <a href="{% url 'aboutus' %}" class="footer-link-more"
                  >Learn More</a
                >
              </p>
            </div>
            <div class="col-6 col-lg-2">
              <h3 class="footer-heading">Navigation</h3>
              <ul class="footer-links list-unstyled">
                <li>
                  <a href="{% url 'home' %}"
                    ><i class="bi bi-chevron-right"></i> Home</a
                  >
                </li>
                <li>
                  <a href="{% url 'allposts' %}"
                    ><i class="bi bi-chevron-right"></i> Blog</a
                  >
                </li>
                <li>
                  <a href=""><i class="bi bi-chevron-right"></i> Categories</a>
                </li>
                <li>
                  <a href=""><i class="bi bi-chevron-right"></i> About us</a>
                </li>
                <li>
                  <a href=""><i class="bi bi-chevron-right"></i> Contact</a>
                </li>
              </ul>
            </div>
            <div class="col-6 col-lg-2">
              <h3 class="footer-heading">Categories</h3>
              <ul class="footer-links list-unstyled">
                {% for items in cats %}
                <li>
                  <a href="{% url 'category' items.pk %}">{{items.name}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>

            <div class="col-lg-4">
              <h3 class="footer-heading">Recent Posts</h3>

              <ul class="footer-links footer-blog-entry list-unstyled">
                {% for obj in recent %}
                <li>
                  <a
                    href="{% url 'article_detail' obj.pk %}"
                    class="d-flex align-items-center"
                  >
                    <img
                      src="{{ obj.image.url }}"
                      alt=""
                      class="img-fluid me-3"
                    />
                    <div>
                      <div class="post-meta d-block">
                        <span class="date">{{obj.category.name}}</span>
                        <span class="mx-1">&bullet;</span>
                        <span>{{obj.post_date}}</span>
                      </div>
                      <span>{{obj.title}}</span>
                    </div>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-legal">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              <div class="copyright">
                © Copyright <strong><span>Afritours</span></strong> 2023. All
                Rights Reserved
              </div>

              <div class="credits">
                Made with &#128147; by the <a href="">Pydv</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
