{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Afritours</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,
	100;0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap"
	rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Template Main CSS Files -->
    <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/more.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="{% url 'home'%}" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1>Afritours Home</h1>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <!--<li><a href="search-result.html">Search Result</a></li>-->
            <li><a href="{% url 'allposts'%}">Blog</a></li>

            <li class="dropdown">
              <a href=""
                ><span>Categories</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                {% for items in cats %}
                <li>
                  <a href="{% url 'category' items.pk %}">{{items.name}}</a>
                </li>
                {% endfor %}
                <!--
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Deep Drop Down</span>
                    <i class="bi bi-chevron-down dropdown-indicator"></i
                  ></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    
                  </ul>
                </li>-->
                <!--<li><a href="#">Drop Down 2</a></li>-->
              </ul>
            </li>

            <li><a href="{% url 'aboutus' %}">About</a></li>
            <li><a href="{% url 'contant' %}">Contact</a></li>

            {% if user.is_authenticated %}
            <li class="hello_user">Hello, {{ user.first_name }}</li>
            <li><a href="{% url 'logout'%}"> logout</a></li>
            {% else %}
            <li><a href="{%url 'register'%}">Register</a></li>
            <li><a href="{% url 'login'%}">login </a></li>
            <!--<li><a href="{% url 'logout'%}"> logout</a></li>-->
            {% endif %}
          </ul>
        </nav>
        <!-- .navbar -->

        <div class="position-relative">
          <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
          <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
          <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

          <a href="#" class="mx-2 js-search-open"
            ><span class="bi-search"></span
          ></a>
          <i class="bi bi-list mobile-nav-toggle"></i>

          <!-- ======= Search Form ======= -->
          <div class="search-form-wrap js-search-form-wrap">
            <form action="search-result.html" class="search-form">
              <span class="icon bi-search"></span>
              <input type="text" placeholder="Search" class="form-control" />
              <button class="btn js-search-close">
                <span class="bi-x"></span>
              </button>
            </form>
          </div>
          <!-- End Search Form -->
        </div>
      </div>
    </header>
    <!-- End Header -->
    <!-- End Header -->

    <main id="main">
      <section id="post" class="posts">
        <div class="container">
          <div class="align-items-center">

            {% block main %} {% endblock %} {% block aboutus %} {% endblock %}

	    {% block contant %} {% endblock %}
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-4">
              <h3 class="footer-heading">About Afritours</h3>
              <p>
                Welcome to our tours website, your ultimate destination for
                unforgettable travel experiences! Whether you're a seasoned
                globetrotter or a first-time adventurer, our website is your
                gateway to exploring the world's most captivating destinations.
                We curate a wide range of tours, catering to diverse interests,
                budgets, and travel styles. From enchanting cultural expeditions
                to thrilling outdoor adventures, our meticulously designed
                itineraries ensure that every moment of your journey is filled
                with awe and wonder. Discover hidden gems, immerse yourself in
                local traditions, and create lifelong memories as you embark on
                our expertly guided tours. With our user-friendly interface, you
                can easily navigate through our extensive collection of
                destinations, read detailed descriptions, view stunning photos,
                and find the perfect tour that aligns with your dreams. Our team
                of knowledgeable travel experts is dedicated to providing
                unparalleled customer service, answering your queries, and
                assisting you in crafting your ideal itinerary. Whether you're
                longing to witness iconic landmarks, indulge in delectable
                cuisines, or simply unwind on pristine beaches, our tours
                website is your trusted companion in making your travel dreams a
                reality. Start your adventure today and let us guide you towards
                a world of discovery and exploration.
              </p>
              <p>
                <a href="{% url 'aboutus}" class="footer-link-more">Learn More</a>
              </p>
            </div>
            <div class="col-6 col-lg-2">
              <h3 class="footer-heading">Navigation</h3>
              <ul class="footer-links list-unstyled">
                <li>
                  <a href="{% url 'home' %}"
                    ><i class="bi bi-chevron-right"></i> Home</a
                  >
                </li>
                <li>
                  <a href="{% url 'allposts' %}"
                    ><i class="bi bi-chevron-right"></i> Blog</a
                  >
                </li>
                <li>
                  <a href="category.html"
                    ><i class="bi bi-chevron-right"></i> Categories</a
                  >
                </li>
                
                <li>
                  <a href="{% url 'aboutus' }"
                    ><i class="bi bi-chevron-right"></i> About us</a
                  >
                </li>
                <li>
                  <a href="{% url 'contant' %}"
                    ><i class="bi bi-chevron-right"></i> Contact</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-6 col-lg-2">
              <h3 class="footer-heading">Categories</h3>
              <ul class="footer-links list-unstyled">

		{% for items in cats %}
                <li>
                  <a href="{% url 'category' items.pk %}">{{items.name}}</a>
                </li>
		{% endfor %}

                

              </ul>
            </div>

            <div class="col-lg-4">
              <h3 class="footer-heading">Recent Posts</h3>

              <ul class="footer-links footer-blog-entry list-unstyled">
                {% for post in recent %}
                <li>
                  <a href="{% url 'article_detail' post.pk %}" class="d-flex align-items-center">
                    <img
                      src="assets/img/post-sq-1.jpg"
                      alt=""
                      class="img-fluid me-3"
                    />
                    <div>
                      <div class="post-meta d-block">
                        <span class="date">{{post.category.name}}</span>
                        <span class="mx-1">&bullet;</span>
                        <span>{{post.post_date}}</span>
                      </div>
                      <span>{{post.title}}</span>
                    </div>
                  </a>
                </li>
                {% endfor %}

                <li>
                  <a href="" class="d-flex align-items-center">
                    <img
                      src="assets/img/post-sq-4.jpg"
                      alt=""
                      class="img-fluid me-3"
                    />
                    <div>
                      <div class="post-meta d-block">
                        <span class="date"></span>
                        <span class="mx-1"></span>
                        <span></span>
                      </div>
                      <span</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-legal">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              <div class="copyright">
                © Copyright <strong><span>Afritours</span></strong> 2023. All
                Rights Reserved
              </div>

              <div class="credits">
                Designed by
                <a href="">Pydev</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
